@model SocialBlade.Models.PostViewModels.ShortPostViewModel
@using SocialBlade.ViewComponents
@using SocialBlade.Utilities

<div class="post z-depth-5">
    <div class="post-header">
        <div class="row">
            @await Component.InvokeAsync(typeof(ProfileComponent), new { viewName = "Post", userId = Model.AuthorId })
            <div class="col s4 time-container">
                <div class="btn btn-flat waves-effect time">
                    <span class="fol">Follow</span>
                    <span class="already" style="display: none;">Following</span>
                    <span class="unfollow" style="display: none;">Unfollow</span>
                </div>
            </div>
        </div>
    </div>
    <div class="post-content">
        <p class="caption">@Model.Content</p>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img class="uploadedPic" src="@Model.ImageUrl">
        }
    </div>
    <div class="post-footer">
        <div class="row" style="height: 100%;">
            <input type="hidden" class="id" value="@Model.ID" />
            <div class="col s2">
                <div class="likeW">
                    <i class="fa fa-thumbs-up fa-2x like
                                        @if (Model.Reaction == true)
                                        {
                                            @:clicked
                                        }
                                        " aria-hidden="true"></i>
                </div>
                <div class="amountLike">
                    <p>
                        <b>@Model.Likes</b>
                    </p>
                </div>
            </div>
            <div class="col s2">
                <div class="dislikeW">
                    <i class="fa fa-thumbs-down fa-2x dislike
                                       @if (Model.Reaction == false)
                                       {
                                           @:clicked
                                       }
                                       " aria-hidden="true"></i>
                </div>
                <div class="amountDislike">
                    <p>
                        <b>@Model.Dislikes</b>
                    </p>
                </div>
            </div>
            <div class="col s4 offset-s4">
                <div class="commentW">
                    <a asp-action="Details" asp-controller="Post" asp-route-id="@Model.ID">
                        <i class="fa fa-commenting-o fa-2x comment" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="amountComments">
                    <p>
                        <b>@Model.CommentsCount</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>