@model SocialBlade.Models.AccountViewModels.ProfileViewModel
@inject UserManager<ApplicationUser> UserManager
<div class="profile-info z-depth-4">
    <p class="statsTitle">Profile Information</p>
    <div class="profileStats">
        <div class="row">
            <input type="hidden" asp-for="@Model.ID"/>
            <div class="col s3 statImg-c">
                <img class="circle statPic" src="@Model.ProfilePictureUrl">
            </div>
            <div class="col s9" style="height: 20vh;">
                <div class="userName">
                    @Model.FullName
                </div>
                <div class="followers">
                    @Model.FollowersCountDisplay
                </div>
                <div class="fpo">
                    @Model.PostsCountDisplay   @Model.FollowingCountDisplay
                </div>
            </div>
        </div>
        <div class="actions">
            @if (Model.ID == UserManager.GetUserId(User))
            {
                <a asp-action="Edit" asp-controller="Account" class="btn btn-flat waves-effect waves-green edit">Edit Profile</a>
                <form id='profileLogOffForm' asp-action="LogOff" asp-controller="Account">
                    <a onclick="document.getElementById('profileLogOffForm').submit()"
                        class="btn btn-flat waves-effect waves-red edit">Log Off</a>
                </form>
            }
            else
            {
                <a class="follow-btn btn btn-flat waves-effect waves-green edit 
                   @if (Model.IsFollowed)
                   {
                       @:following
                   }">Follow</a>
            }
        </div>
    </div>
</div>
