@model IEnumerable<SocialBlade.Models.PostViewModels.PostViewModel>

@{
    ViewData["Title"] = "Posts";
}
@section scripts
{
    <script src="~/js/initHome.js"></script>
}
@section stylesheets
{
    <link href="~/css/styleHome.css" type="text/css" rel="stylesheet" media="screen,projection" />
}
<div class="menu hide-on-small-only">
    <div class="burger-container">
        <div class="burger">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
    </div>
    <div class="nav-items">
        <a href="#">
            <div class="myProfile">
                <div class="labelMP">
                    MY PROFILE
                </div>
                <div class="MP">
                    <div class="row" style="height: 100%;">
                        <div class="col s3 myPic">
                            <img class="circle myProfilePic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14572841_1075302559184501_6972025272233313372_n.jpg?oh=4cca76a094121c379867a0a1d704d201&oe=58BC7252">
                        </div>
                        <div class="col s9">
                            <div class="myStats">
                                14M followers
                            </div>
                            <div class="myName">
                                CHRIS PAM
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="item navs">
            <div class="container">
                <div class="row">
                    <a href="#">
                        <div class="col m10 offset-m1 link hvr-outline-out flow-text">
                            EXPLORE
                        </div>
                    </a>
                    <a href="#">
                        <div class="col m10 offset-m1 link hvr-outline-out flow-text">
                            CREATE A POST
                        </div>
                    </a>
                    <a href="#">
                        <div class="col m10 offset-m1 link hvr-outline-out flow-text">
                            LOG OFF
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menuSmall hide-on-med-and-up z-depth-3 nav-down">
    <div class="row" style="margin-bottom: 0;">
        <div class="col s3 icon current">
            <a href="#"><img src="~/images/home.png"></a>
        </div>
        <div class="col s3 icon">
            <a href="#"><img src="~/images/compass.png"></a>
        </div>
        <div class="col s3 icon">
            <a href="#"><img src="~/images/avatar.png"></a>
        </div>
        <div class="col s3 icon">
            <a href="#"><img src="~/images/upload.png"></a>
        </div>
    </div>
</div>
<div class="content-container">
    <div class="row">
        <div class="col s12 m6 offset-m3 content">
            <!--Spam posts from here-->
            @foreach(var item in Model)
            {
                <div class="post z-depth-5 col s12 m10 offset-m1">
                    <div class="post-header">
                        <div class="row">
                            <div class="col s2 image-container center">
                                <img class="responsive-img circle profilePic" src="@item.AuthorPictureUrl">
                            </div>
                            <div class="col s6 username-container">
                                <p class="flow-text left">@item.AuthorName</p>
                            </div>
                            <div class="col s4 time-container">
                                <p class="flow-text right time">@item.CreateTime</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <p class="caption">@item.Content</p>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img class="uploadedPic" src="@item.ImageUrl">
                        }
                    </div>
                    <div class="post-footer">
                        <div class="row" style="height: 100%;">
                            <div class="col s2">
                                <div class="likeW">
                                    <i class="fa fa-thumbs-up fa-2x like" aria-hidden="true"></i>
                                </div>
                                <div class="amountLike">
                                    <p><b>@item.Likes</b></p>
                                </div>
                            </div>
                            <div class="col s2">
                                <div class="dislikeW">
                                    <i class="fa fa-thumbs-down fa-2x dislike" aria-hidden="true"></i>
                                </div>
                                <div class="amountDislike">
                                    <p><b>@item.Dislikes</b></p>
                                </div>
                            </div>
                            <div class="col s4 offset-s4">
                                <div class="commentW">
                                    <i class="fa fa-commenting-o fa-2x comment" aria-hidden="true"></i>
                                </div>
                                <div class="amountComments">
                                    <p><b>@item.CommentsCount</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="post z-depth-5 col s12 m10 offset-m1">
                <div class="post-header">
                    <div class="row">
                        <div class="col s2 image-container center">
                            <img class="responsive-img circle profilePic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14572841_1075302559184501_6972025272233313372_n.jpg?oh=4cca76a094121c379867a0a1d704d201&oe=58BC7252">
                        </div>
                        <div class="col s6 username-container">
                            <p class="flow-text left">Chris Geia</p>
                        </div>
                        <div class="col s4 time-container">
                            <p class="flow-text right time">5 days ago</p>
                        </div>
                    </div>
                </div>
                <div class="post-content">
                    <p class="caption">MALKO NAVUN S GADJETATA :D</p>
                    <img class="uploadedPic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/15219445_1126235924091164_5883201993217994451_n.jpg?oh=0a175587b517096c37a1d0b68e5e98a4&oe=58F4D621">
                </div>
                <div class="post-footer">
                    <div class="row" style="height: 100%;">
                        <div class="col s2">
                            <div class="likeW">
                                <i class="fa fa-thumbs-up fa-2x like" aria-hidden="true"></i>
                            </div>
                            <div class="amountLike">
                                <p><b>999</b></p>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="dislikeW">
                                <i class="fa fa-thumbs-down fa-2x dislike" aria-hidden="true"></i>
                            </div>
                            <div class="amountDislike">
                                <p><b>999</b></p>
                            </div>
                        </div>
                        <div class="col s4 offset-s4">
                            <div class="commentW">
                                <i class="fa fa-commenting-o fa-2x comment" aria-hidden="true"></i>
                            </div>
                            <div class="amountComments">
                                <p><b>2</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post z-depth-5 col s12 m10 offset-m1">
                <div class="post-header">
                    <div class="row">
                        <div class="col s2 image-container center">
                            <img class="responsive-img circle profilePic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14572841_1075302559184501_6972025272233313372_n.jpg?oh=4cca76a094121c379867a0a1d704d201&oe=58BC7252">
                        </div>
                        <div class="col s6 username-container">
                            <p class="flow-text left">Chris Geia</p>
                        </div>
                        <div class="col s4 time-container">
                            <p class="flow-text right time">5 days ago</p>
                        </div>
                    </div>
                </div>
                <div class="post-content">
                    <p class="caption">MALKO NAVUN S GADJETATA :D</p>
                    <img class="uploadedPic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14523049_1075090252539065_7474972561312578906_n.jpg?oh=a88535049d0c302243becfe1ab99c1da&oe=58FA10ED">
                </div>
                <div class="post-footer">
                    <div class="row" style="height: 100%;">
                        <div class="col s2">
                            <div class="likeW">
                                <i class="fa fa-thumbs-up fa-2x like" aria-hidden="true"></i>
                            </div>
                            <div class="amountLike">
                                <p><b>999</b></p>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="dislikeW">
                                <i class="fa fa-thumbs-down fa-2x dislike" aria-hidden="true"></i>
                            </div>
                            <div class="amountDislike">
                                <p><b>999</b></p>
                            </div>
                        </div>
                        <div class="col s4 offset-s4">
                            <div class="commentW">
                                <i class="fa fa-commenting-o fa-2x comment" aria-hidden="true"></i>
                            </div>
                            <div class="amountComments">
                                <p><b>2</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post z-depth-5 col s12 m10 offset-m1">
                <div class="post-header">
                    <div class="row">
                        <div class="col s2 image-container center">
                            <img class="responsive-img circle profilePic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14572841_1075302559184501_6972025272233313372_n.jpg?oh=4cca76a094121c379867a0a1d704d201&oe=58BC7252">
                        </div>
                        <div class="col s6 username-container">
                            <p class="flow-text left">Chris Geia</p>
                        </div>
                        <div class="col s4 time-container">
                            <p class="flow-text right time">5 days ago</p>
                        </div>
                    </div>
                </div>
                <div class="post-content">
                    <p class="caption">MALKO NAVUN S GADJETATA :D</p>
                </div>
                <div class="post-footer">
                    <div class="row" style="height: 100%;">
                        <div class="col s2">
                            <div class="likeW">
                                <i class="fa fa-thumbs-up fa-2x like" aria-hidden="true"></i>
                            </div>
                            <div class="amountLike">
                                <p><b>999</b></p>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="dislikeW">
                                <i class="fa fa-thumbs-down fa-2x dislike" aria-hidden="true"></i>
                            </div>
                            <div class="amountDislike">
                                <p><b>999</b></p>
                            </div>
                        </div>
                        <div class="col s4 offset-s4">
                            <div class="commentW">
                                <i class="fa fa-commenting-o fa-2x comment" aria-hidden="true"></i>
                            </div>
                            <div class="amountComments">
                                <p><b>2</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--TO HERE-->
        </div>
    </div>
</div>
