@using SocialBlade.ViewComponents
@model SocialBlade.Models.AccountViewModels.EditProfileViewModel

@{
    ViewData["Title"] = "Edit";
}
@section stylesheets {
    <link href="~/css/styleCreate.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/js/initCreate.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{await Html.RenderPartialAsync("_Menu");}
<form asp-action="Edit" method="POST" enctype="multipart/form-data">

    <div class="create-wrapper">
        <div class="create-header">
            <div class="row center" style="margin-bottom: 0px;">
                @await Component.InvokeAsync(typeof(ProfileComponent), new { viewName = "Post" })
            </div>
        </div>
        <div class="create-content">
            <div asp-validation-summary="All" class="text-danger"></div>
            <i class="material-icons prefix">account_circle</i>
            <input id="first-name" type="text" value="@Model.FirstName" asp-for="FirstName" class="validate">
            <label for="first-name">First Name</label>
            <br />
            <i class="material-icons prefix">account_circle</i>
            <input id="last-name" type="text" value="@Model.LastName" asp-for="LastName" class="validate">
            <label for="last-name">Last Name</label>
            <br />
            <i class="material-icons prefix">phone</i>
            <input id="phone" type="text" value="@Model.PhoneNumber" asp-for="PhoneNumber" class="validate">
            <label for="phone">Phone Number</label>
            <br />
            <i class="material-icons prefix">email</i>
            <input id="email" type="text" value="@Model.Email" asp-for="Email" class="validate">
            <label for="email">Email Address</label>
            <br />
            <i class="material-icons prefix">contacts</i>
            @*<input id="icon_prefix" type="text" value="@Model.ProfilePictureUrl" asp-for="ProfilePictureUrl" class="validate">*@
            <div class="file-field input-field fileIn">
                <div class="btn">
                    <span>Upload Image</span>
                    <input type="file" asp-for="Image" accept="image/*" style="color: black;">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" style="color: black;">
                </div>
            </div>
            <label>Profile Picture URL</label>
            
            <br/><br/>
        </div>
    </div>
    <div class="submit-wrapper">
        <button type="submit" name="button" class="btn-flat waves-effect waves-gray edit" style="margin-right: 1vh;">Save Changes</button>
        <a asp-action="Details" class="btn-flat waves-effect waves-gray delete">
            Cancel
        </a>
    </div>
</form>

@* Hellow DotNET *@

<div class="submit-wrapper">
</div>

